{% extends 'base.html.twig' %}

    {% block title 'About Us | ' ~ parent() %}
{# Début commentaire

    L'autre appellation en utilisant la quotation normale :
    {% block title %} bonjour Us | {{ parent() }} {% endblock %}
    
    Fin du commentaire #}

{% block body %}
    <img src="{{ asset('/img/CEtNcvqVEAAOJoB.jpg') }}" alt="Une superbe otarie" class="my-12 rounded-full shadow-md">
    <h1 class="text-gray-700"> Built with <span class="text-pink-500">&hearts;</span> by <span>Les teachers du net</span></h1>
    <p class="mt-5">
        <a href="{{ path('app_home') }}" class="text-indigo-500 hover:text-indigo-600 underline">
            Revenir à la page d'accueil
        </a>
    </p>
{% endblock %}

 {# !IMPOTANT! A continuer à partir d'ici (timestamp Youtube 28minutes 14sec Lien : https://www.youtube.com/watch?v=yCPiX7_fy30&t=7s) #}