{% extends 'base.html.twig' %}

{% block title %}Hello City{% endblock %}

{% block body %}
    <img src="{{ asset('/img/telechargement.jpg') }}" alt="Salut Axel">
    <h1> Hello from Quebec</h1>

    <p>It's currently {{ 'now' |date('h:i A') }}.</p>


{% endblock %}